body {
}

.intro{
	background-position: 50% 50%;
	background-size: cover;
}

:root{
	--fontHeight: 200px;
	--color: black;
	--baseKern: 20px;
	--position: relative;
}

.grid {
display: grid;
grid-template-columns: repeat(5,1fr);
grid-template-rows: repeat(5,1fr);
grid-gap: 30px;
position:relative;
padding: 50px;
padding-bottom: 100px;
padding-right: 300px;
justify-content: center;

}

.letter {
	position: relative;
	height: 170px;
}

/*A*/
.A{
	float: left;
	position: relative;
	padding-right: var(--baseKern);
}

#stemLeftA{
	position: absolute;
	width: 3px;
	height: 165px;
	background-color: var(--color);
	transform: rotate(28deg);
	left: 47px;
}

#stemRightA{
	position: absolute;
	left: 20px;
	top: 7px;
	width: 150px;
	height: 150px;
	clip-path: polygon(45% 33%, 44% 0, 100% 100%, 81% 100%);
	background-color: var(--color);
}

#serifA{
position: absolute;
left: 9px;
top: 148px;
width: 3px;
height: 15px;
background-color: var(--color);
transform: rotate(270deg);
}

/*B*/
.B{
	padding-right: var(--baseKern);
	grid-row-start:1;
	grid-row-end:1;
	grid-column-start:2;
	grid-column-end: 2;
}

#stemLeftB{
	position: absolute;
	left: 50px;
	top: 6px;
	width: 3px;
	height: 150px;
	background-color: var(--color);
}

#stemB1{
	position: absolute;
	left: 40px;
	top: 6px;
	width: 60px;
	height: 3px;
	background-color: var(--color)
}

#stemB2{
	position: absolute;
	left: 40px;
	top: 80px;
	width: 60px;
	height: 3px;
	background-color: var(--color);
}

#stemB3{
	position: absolute;
	left: 40px;
	top: 153px;
	width: 60px;
	height: 3px;
	background-color: var(--color);
}

#TummyB1{
	position: absolute;
    left: 99px;
    top: 6px;
    width: 50px;
    height: 77px;
    border: 41px white;
    border-radius: 0px 100px 100px 0px;
    border-left: none;
    background-color: var(--color);
}

#TummyB2{
	position: absolute;
	left: 99px;
	top: 80px;
	width: 50px;
	height: 76px;
	border: 41px white;
	border-radius: 0px 100px 100px 0px;
	border-left: none;
	background-color: var(--color);
}

#smallCircleB1{
	position: absolute;
	width: 50px;
	height: 43px;
	top: 23px;
	left: 73px;
	background: white;
	border-radius: 30px;
}

#smallCircleB2{
	position: absolute;
	width: 50px;
	height: 43px;
	top: 96px;
	left: 73px;
	background: white;
	border-radius: 30px;
}

/*C*/
.C{
	float: left;
	padding-right: var(--baseKern);
	border-radius:

}

#leftcurveC{
	position: absolute;
  width: 160px;
  height: 160px;
  top: 0px;
  left: 10px;
  background: white;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 100px;
}

#rightcurve1C{
	position: absolute;
	width: 152px;
	height: 152px;
	top: 4px;
	left: 14px;
	background: white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 100px;
}

#semicircleC{
	position: absolute;
    top: 4px;
    left: 14px;
    height: 152px;
    width: 78px;
    border-radius: 90px 0 0 90px;
    background: white;
}

#smallCircleC{
	position: absolute;
    width: 100px;
    height: 100px;
    top: 29px;
    left: 41px;
    background: white;
    border-radius: 50px;
}

#triangleC{
	top: 23px;
    left: 81px;
    position: absolute;
    width: 0;
    height: 20px;
    border-right: 100px solid white;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}

/*D*/
.D{
	float: left;
	padding-right: var(--baseKern);
}

#semicircleD{
	position: absolute;
    top: 6px;
    left: 79px;
    height: 150px;
    width: 78px;
    border-radius: 0 90px 90px 0;
    background: white;
}

#stemLeftD{
	position: absolute;
	left: 31px;
	top: 6px;
	width: 3px;
	height: 150px;
	background-color: var(--color);
}

#stemD1{
	position: absolute;
	left: 31px;
	top: 6px;
	width: 51px;
	height: 3px;
	background-color: var(--color)
}

#stemD2{
	position: absolute;
	left: 31px;
	top: 153px;
	width: 51px;
	height: 3px;
	background-color: var(--color);
}

#smallCircleD{
	position: absolute;
	width: 90px;
	height: 90px;
	top: 35px;
	left: 37px;
	background: white;
	border-radius: 50px;
}

/*E*/
.E{
	padding-right: var(--baseKern);
	position: relative;
	top: 0;
	left:0;
	grid-row-start:1;
	grid-row-end:1;
	grid-column-start:5;
	grid-column-end: 5;
}

#stemLeftE{
	position: absolute;
	left: 30px;
	top: 10px;
	width: 3px;
	height: 149px;
	background-color: var(--color);
}

#stemleftE1{
	position: absolute;
	left: 30px;
	top: 10px;
	width: 60px;
	height: 3px;
	background-color: var(--color);
}

#stemleftE2{
	position: absolute;
	left: 30px;
	top: 65px;
	width: 60px;
	height: 3px;
	background-color: var(--color);
}

#stemleftE3{
	position: absolute;
	left: 30px;
  top: 156px;
	width: 60px;
	height: 3px;
	background-color: var(--color);
}

.rightStem {
	position: absolute;
	width: 60px;
	height: 30px;
	background-color: var(--color);
}

#stemrightE1{
	left: 80px;
	top: 10px;
}

#stemrightE2{
	left: 80px;
	top: 65px;
}

#stemrightE3{
	left: 80px;
	top: 129px;
}

/*E*/
.F{
	float: left;
	padding-right: var(--baseKern);
}

#stemLeftF{
	position: absolute;
	left: 30px;
	top: 10px;
	width: 3px;
	height: 150px;
	background-color: var(--color);
}

#stemleftF1{
	position: absolute;
	left: 60px;
	top: -19px;
	width: 3px;
	height: 60px;
	background-color: var(--color);
	transform: rotate(270deg);
}

#stemleftF2{
	position: absolute;
	left: 60px;
	top: 40px;
	width: 3px;
	height: 60px;
	background-color: var(--color);
	transform: rotate(270deg);
}

#serifF{
	position: absolute;
	left: 30px;
	top: 151px;
	width: 3px;
	height: 15px;
	background-color: var(--color);
	transform: rotate(270deg);
}

#stemrightF1{
	position: absolute;
	left: 70px;
	top: 9px;
	width: 60px;
	height: 30px;
	background-color: var(--color);
}

#stemrightF2{
	position: absolute;
	left: 70px;
	top: 68px;
	width: 60px;
	height: 30px;
	background-color: var(--color);
}

/*G*/
.G{
	float: left;
	padding-right: var(--baseKern);

}

#leftcurveG{
	position: absolute;
  width: 160px;
  height: 160px;
  top: 0px;
  left: 10px;
  background: white;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 100px;
}

#rightcurve1G{
	position: absolute;
	width: 152px;
	height: 152px;
	top: 4px;
	left: 14px;
	background: white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 100px;
}

#semicircleG{
	position: absolute;
    top: 4px;
    left: 14px;
    height: 152px;
    width: 78px;
    border-radius: 90px 0 0 90px;
    background: white;
}

#smallCircleG{
	position: absolute;
    width: 100px;
    height: 100px;
    top: 29px;
    left: 41px;
    background: white;
    border-radius: 50px;
}

#triangleG{
	top: 23px;
    left: 81px;
    position: absolute;
    width: 0;
    height: 20px;
    border-right: 100px solid white;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}

#Stem1G{
	position: absolute;
    top: 85px;
    left: 123px;
    width: 30px;
    height: 45px;
    background-color: var(--color)
}

#Stem2G{
	position: absolute;
    top: 73px;
    left: 101px;
    width: 52px;
    height: 26px;
    background-color: var(--color);
}

/*H*/
.H{
	float: left;
	padding-right: var(--baseKern);
}

#stemLeftH1{
	position: absolute;
	left: 20px;
	top: 15px;
	width: 3px;
	height: 150px;
	background-color: var(--color);
}

#stemleftH2{
	position: absolute;
	left: 20px;
	top: 88px;
	width: 60px;
	height: 3px;
	background-color: var(--color);
}

#StemRightH1{
	position: absolute;
    top: 88px;
    left: 73px;
    width: 60px;
    height: 26px;
    background-color: var(--color);
}

#StemRightH2{
	position: absolute;
	top: 15px;
	left: 127px;
	width: 30px;
	height: 150px;
	background-color: var(--color);
}

#serifH1{
	position: absolute;
	left: 16px;
	top: 15px;
	width: 15px;
	height: 3px;
	background-color: var(--color);
}

#serifH2{
	position: absolute;
	left: 16px;
	top: 164px;
	width: 15px;
	height: 3px;
	background-color: var(--color);
}

/*I*/

.I{
	float: left;
	padding-right: var(--baseKern);
}

#stemLeftI1{
	position: absolute;
	left: 30px;
	top: 15px;
	width: 3px;
	height: 150px;
	background-color: var(--color);
}

#stemLeftI2{
	position: absolute;
	left: 30px;
	top: 15px;
	width: 25px;
	height: 3px;
	background-color: var(--color);
}

#stemLeftI3{
	position: absolute;
	left: 30px;
	top: 162px;
	width: 25px;
	height: 3px;
	background-color: var(--color);
}

#stemRightI1{
	position: absolute;
  top: 15px;
  left: 53px;
  width: 25px;
  height: 150px;
  background-color: var(--color);
}

/*J*/
.J{
	float: left;
	padding-right: var(--baseKern);
}

#semicircleJ{
	position: absolute;
  top: 114px;
  left: 120px;
  height: 52px;
  width: 107px;
  border-radius: 0 0 90px 90px;
  background-color: var(--color);
}

#quartercircleJ1{
	position: absolute;
	top: 114px;
	left: 123px;
	width: 59px;
	height: 48px;
	background-color: white;
	border-radius: 0 0 0 90px;
}

#quartercircleJ2{
	position: absolute;
	top: 107px;
	left: 165px;
	width: 33px;
	height: 29px;
	background-color: white;
	border-radius: 0 0 90px 0px;
}

#stemLeftJ{
	 position: absolute;
	 top: 15px;
	 left: 197px;
	 width: 30px;
	 height: 100px;
	 background-color: var(--color);
}

#serifJ{
	position: absolute;
  left: 115px;
  top: 111px;
  width: 15px;
  height: 3px;
  background-color: var(--color);
}

/*K*/
.K{
	float: left;
	padding-right: var(--baseKern);
}

#stemLeftK{
	position: absolute;
    left: 85px;
    top: 15px;
    width: 3px;
    height: 150px;
    background-color: var(--color);
}

#serifK1{
	position: absolute;
  left: 80px;
  top: 15px;
  width: 15px;
  height: 3px;
  background-color: var(--color);
}

#serifK2{
	position: absolute;
  left: 80px;
  top: 162px;
  width: 15px;
  height: 3px;
  background-color: var(--color);
}

#stemRightK1{
	position: absolute;
	left: 84px;
	top: 30px;
	width: 138px;
	height: 134px;
	clip-path: polygon(0 46%, 23% 46%, 75% 100%, 51% 100%);
  background-color: var(--color);
}

#stemRightK2{
	position: absolute;
	left: 84px;
	top: 17px;
	width: 134px;
	height: 242px;
	clip-path: polygon(28% 31%, 0 31%, 55% 0, 79% 0);
	background-color: var(--color);
}

#triangleK{
	position: absolute;
    left: 88px;
    top: 42px;
    width: 0px;
    height: 0;
    border-right: 49px solid white;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}

/*L*/
.L{
	float: left;
	padding-right: var(--baseKern);
}

#stemLeftL{
	position: absolute;
	left: 50px;
	top: 16px;
	width: 3px;
	height: 150px;
	background-color: var(--color);
}

#stemleftL1{
	position: absolute;
	left: 70px;
	top: 135px;
	width: 3px;
	height: 60px;
	background-color: var(--color);
	transform: rotate(270deg);
}

#serifL{
	position: absolute;
	left: 50px;
	top: 10px;
	width: 3px;
	height: 15px;
	background-color: var(--color);
	transform: rotate(270deg);
}

#stemrightL{
	position: absolute;
	left: 94px;
	top: 137px;
	width: 60px;
	height: 30px;
	background-color: var(--color);
}

/*M*/
.M{
	float: left;
	padding-right: var(--baseKern);
	display: block;
}

#stemleftM1{
	position: absolute;
	left: 20px;
	top: 17px;
	width: 3px;
	height: 150px;
	background-color: var(--color);
}

#stemleftM2{
	position: absolute;
	left: 20px;
	top: 17px;
	width: 40px;
	height: 3px;
	background-color: var(--color);
}

#stemleftM3{
	position: absolute;
	left: 74px;
	top: 15px;
	width: 3px;
	height: 100px;
	background-color: var(--color);
	transform: rotate(342deg);
}

#stemRightM1{
	position: absolute;
  left: 85px;
  top: 17px;
  width: 156px;
  height: 241px;
  background-color: var(--color);
  clip-path: polygon(0 64%, 0 30%, 18% 0, 38% 0);
}

#stemRightM2{
	position: absolute;
  left: 132px;
  top: 17px;
  width: 30px;
  height: 150px;
  background-color: var(--color);
}

#counterM{
	position: absolute;
	left: 80px;
	top: 155px;
	width: 15px;
	height: 15px;
	background-color: white;
}

#serifM{
	position: absolute;
	left: 14px;
	top: 164px;
	width: 15px;
	height: 3px;
	background-color: var(--color);
}

/*N*/
.N{
	float: left;
	padding-right: var(--baseKern);
	display: block;
}

#stemleftN1{
	position: absolute;
	left: 36px;
	top: 18px;
	width: 3px;
	height: 150px;
	background-color: var(--color);
}

#stemleftN2{
	position: absolute;
	left: 36px;
	top: 18px;
	width: 40px;
	height: 3px;
	background-color: var(--color);
}

#stemleftN3{
	position: absolute;
	left: 89px;
	top: 16px;
	width: 3px;
	height: 100px;
	background-color: var(--color);
	transform: rotate(342deg);
}

#stemRightN1{
	position: absolute;
	left: 39px;
	top: 83px;
	width: 136px;
	height: 86px;
	background-color: var(--color);
	clip-path: polygon(89% 100%, 67% 100%, 44% 55%, 42% 0);
}

#stemRightN2{
	position: absolute;
  left: 132px;
  top: 19px;
  width: 30px;
  height: 150px;
  background-color: var(--color);
}

#serifN{
	position: absolute;
	left: 30px;
	top: 165px;
	width: 15px;
	height: 3px;
	background-color: var(--color);
}

/*O*/
.O{
	float: left;
	padding-right: var(--baseKern);
	display: block;
}

#CircleO{
	position: absolute;
  width: 160px;
  height: 160px;
  top: 7px;
  left: 10px;
  background: white;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 100px;
}

#counterO{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 38px;
	left: 35px;
	background: white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 100px;
}

#SemicircleO{
	position: absolute;
  top: 11px;
  left: 14px;
  height: 152px;
  width: 78px;
  border-radius: 90px 0 0 90px;
  background: white;
}

/*P*/
.P{
	float: left;
	padding-right: var(--baseKern);
	display: block;
}

#stemLeftP{
	position: absolute;
	left: 45px;
	top: 20px;
	width: 3px;
	height: 150px;
	background-color: var(--color);
}

#stemP1{
	position: absolute;
	left: 35px;
	top: 20px;
	width: 72px;
	height: 3px;
	background-color: var(--color)
}

#stemP2{
	position: absolute;
	left: 35px;
	top: 92px;
	width: 72px;
	height: 3px;
	background-color: var(--color);
}

#TummyP{
	position: absolute;
    left: 95px;
    top: 20px;
    width: 50px;
    height: 75px;
    border: 41px white;
    border-radius: 0px 100px 100px 0px;
    border-left: none;
    background-color: var(--color);
}

#smallCircleP{
	position: absolute;
	width: 50px;
	height: 43px;
	top: 36px;
	left: 70px;
	background-color: white;
	border-radius: 30px;
}

/*Q*/
.Q{
	float: left;
	padding-right: var(--baseKern);
	display: block;
}

#CircleQ{
	position: absolute;
  width: 160px;
  height: 160px;
  top: 7px;
  left: 10px;
  background: white;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 100px;
}

#counterQ{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 38px;
	left: 35px;
	background: white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 100px;
}

#SemicircleQ{
	position: absolute;
  top: 11px;
  left: 14px;
  height: 152px;
  width: 78px;
  border-radius: 90px 0 0 90px;
  background: white;
}

#stemrightQ{
	position: absolute;
	left: 97px;
	top: 137px;
	width: 72px;
	height: 30px;
	background-color: var(--color);
}

/*R*/
.R{
	float: left;
	padding-right: var(--baseKern);
	display: block;
}

#stemLeftR{
	position: absolute;
	left: 45px;
	top: 20px;
	width: 3px;
	height: 150px;
	background-color: var(--color);
}

#stemR1{
	position: absolute;
	left: 35px;
	top: 20px;
	width: 72px;
	height: 3px;
	background-color: var(--color)
}

#stemR2{
	position: absolute;
	left: 35px;
	top: 92px;
	width: 72px;
	height: 3px;
	background-color: var(--color);
}

#TummyR{
	position: absolute;
    left: 95px;
    top: 20px;
    width: 50px;
    height: 75px;
    border: 41px white;
    border-radius: 0px 100px 100px 0px;
    border-left: none;
    background-color: var(--color);
}

#smallCircleR{
	position: absolute;
	width: 50px;
	height: 43px;
	top: 36px;
	left: 70px;
	background-color: white;
	border-radius: 30px;
}

#stemrightR{
	position: absolute;
	width: 104px;
	height: 76px;
	top: 93px;
	left: 64px;
	clip-path: polygon(0 0, 30% 0, 82% 100%, 49% 98%);
	background-color: var(--color);
/* border-radius: 30px; */
}

/*S*/
.S{
	float: left;
	padding-right: var(--baseKern);
	display: block;
}

#stemrightS1{
	position: absolute;
    width: 64px;
    height: 30px;
    top: 14px;
    left: 80px;
    background: white;
}

#stemleftS1{
	position: absolute;
    width: 64px;
    height: 3px;
    top: 14px;
    left: 24px;
    background: white;
}

#stemleftS2{
	position: absolute;
	width: 130px;
	height: 3px;
	top: 85px;
	left: 16px;
	background: white;
	transform: rotate(31deg);
}

#stemleftS3{
	position: absolute;
	width: 3px;
	height: 39px;
	top: 15px;
	left: 24px;
	background: white;
}

#stemrightS2{
	position: absolute;
	width: 126px;
	height: 91px;
	top: 84px;
	left: 79px;
	background: white;
	clip-path: polygon(0 0, 54% 44%, 53% 83%, 0 33%);
}

#stemrightS3{
	position: absolute;
    width: 66px;
    height: 20px;
    top: 139px;
    left: 80px;
    background: white;
}

#stemleftS4{
	position: absolute;
    width: 64px;
    height: 3px;
    top: 156px;
    left: 24px;
    background: white;
}

#serifS{
	position: absolute;
	left: 23px;
	top: 149px;
	width: 3px;
	height: 15px;
	background-color: var(--color);
}

/*T*/
.T{
	float: left;
	padding-right: var(--baseKern);
	display: block;
}

#stemleftT{
	position: absolute;
  left: 20px;
  top: 18px;
  width: 72px;
  height: 3px;
  background-color: var(--color);
}

#stemrightT1{
	position: absolute;
  left: 82px;
  top: 18px;
  width: 30px;
  height: 150px;
  background-color: var(--color);
}

#stemrightT2{
	position: absolute;
  left: 111px;
  top: 18px;
  width: 43px;
  height: 30px;
  background-color: var(--color);
}

#serifT{
	position: absolute;
  left: 20px;
  top: 12px;
  width: 3px;
  height: 15px;
  background-color: var(--color);
}

/*U*/
.U{
	float: left;
	padding-right: var(--baseKern);
	display: block;
}

#serifU{
	z-index: 1;
	position: absolute;
  left: 12px;
  top: 16px;
  width: 15px;
  height: 3px;
  background-color: var(--color);
}

#halfcircleU{
	position: absolute;
  left: 17px;
  top: 17px;
  height: 150px;
  width: 140px;
  border-radius: 0 0 264px 264px;
  background-color: var(--color);
}

#quarterU1{
	position: absolute;
	z-index: 1;
	left: 22px;
	top: 16px;
	height: 147px;
	width: 65px;
	border-radius: 0 0 0px 264px;
	background-color: white;
}

#quarterU2{
	z-index: 1;
  position: absolute;
  left: 69px;
  top: 17px;
  height: 127px;
  width: 61px;
  border-radius: 0 0 264px 0px;
  background-color: white;
}

/*V*/
.V{
	position: relative;
	padding-right: var(--baseKern);
	transform: rotate(180deg);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#stemLeftV{
	position: absolute;
	width: 3px;
	height: 165px;
	background-color: var(--color);
	transform: rotate(28deg);
	left: 47px;
}

#stemRightV{
	position: absolute;
	left: 20px;
	top: 7px;
	width: 150px;
	height: 150px;
	clip-path: polygon(45% 33%, 44% 0, 100% 100%, 81% 100%);
	background-color: var(--color);
}

#serifV{
position: absolute;
left: 9px;
top: 148px;
width: 3px;
height: 15px;
background-color: var(--color);
transform: rotate(270deg);
}

/*W*/
.W{
	float: left;
	padding-right: var(--baseKern);
	display: block;
	transform: rotate(180deg) rotateY( 180deg);
}

#stemleftW1{
	position: absolute;
	left: 20px;
	top: 7px;
	width: 3px;
	height: 150px;
	background-color: var(--color);
}

#stemleftW2{
	position: absolute;
	left: 20px;
	top: 7px;
	width: 40px;
	height: 3px;
	background-color: var(--color);
}

#stemleftW3{
	position: absolute;
	left: 74px;
	top: 5px;
	width: 3px;
	height: 100px;
	background-color: var(--color);
	transform: rotate(342deg);
}

#stemRightW1{
	position: absolute;
  left: 85px;
  top: 7px;
  width: 156px;
  height: 241px;
  background-color: var(--color);
  clip-path: polygon(0 64%, 0 30%, 18% 0, 38% 0);
}

#stemRightW2{
	position: absolute;
  left: 132px;
  top: 7px;
  width: 30px;
  height: 150px;
  background-color: var(--color);
}

#counterW{
	position: absolute;
	left: 80px;
	top: 145px;
	width: 15px;
	height: 15px;
	background-color: white;
}

#serifW{
	position: absolute;
	left: 14px;
	top: 154px;
	width: 15px;
	height: 3px;
	background-color: var(--color);
}

/*X*/
.X{
	float: left;
	padding-right: var(--baseKern);
	display: block;

}

#stemrightX1{
	position: absolute;
    left: 61px;
    top: 14px;
    width: 103px;
    height: 92px;
    background-color: var(--color);
    clip-path: polygon(70% 0, 100% 0%, 29% 100%, 28% 60%);
}

#stemrightX2{
	position: absolute;
left: 21px;
top: 70px;
width: 138px;
height: 87px;
background-color: var(--color);
clip-path: polygon(51% 41%, 50% 0, 100% 100%, 76% 100%);
}


#stemleftX1{
	position: absolute;
    left: 56px;
    top: -1px;
    width: 3px;
    height: 104px;
    background-color: var(--color);
    transform: rotate(130deg);
}

#stemleftX2{
	position: absolute;
    left: 52px;
    top: 64px;
    width: 3px;
    height: 109px;
    background-color: var(--color);
    transform: rotate(46deg);
}

#serifX1{
	position: absolute;
	left: 9px;
	top: 154px;
	width: 15px;
	height: 3px;
	background-color: var(--color);
}

#serifXß2{
	position: absolute;
	left: 10px;
	top: 16px;
	width: 15px;
	height: 3px;
	background-color: var(--color);
}

/*Y*/
.Y{
	float: left;
	padding-right: var(--baseKern);
	display: block;

}

#stemrightY1{
	position: absolute;
    left: 6px;
    top: 14px;
    width: 150px;
    height: 150px;
    background-color: var(--color);
    clip-path: polygon(76% 0, 100% 0, 51% 60%, 51% 29%);
}

#stemrightY2{
	position: absolute;
    left: 82px;
    top: 67px;
    width: 30px;
    height: 85px;
    background-color: var(--color);
}

#stemleftY2{
	position: absolute;
    left: 59px;
    top: -1px;
    width: 3px;
    height: 119px;
    background-color: var(--color);
    transform: rotate(-41deg);
}

#serifY{
	position: absolute;
    left: 15px;
    top: 12px;
    width: 15px;
    height: 3px;
    background-color: var(--color);
}

/*Z*/
.Z{
	float: left;
	padding-right: var(--baseKern);
	display: block;
}

#stemrightZ1{
	position: absolute;
    width: 64px;
    height: 30px;
    top: 14px;
    left: 80px;
    background: white;
}

#stemleftZ1{
	position: absolute;
    width: 64px;
    height: 3px;
    top: 14px;
    left: 24px;
    background: white;
}

#stemleftZ2{
	position: absolute;
    width: 98px;
    height: 3px;
    top: 101px;
    left: 11px;
    background: white;
    transform: rotate(-47deg);
}

#stemleftZ3{
	position: absolute;
    width: 3px;
    height: 15px;
    top: 8px;
    left: 24px;
    background: white;
}

#stemrightZ2{
	position: absolute;
    width: 122px;
    height: 94px;
    top: 43px;
    left: 54px;
    background: white;
    clip-path: polygon(47% 0, 74% 0, 23% 82%, 23% 37%);
}

#stemrightZ3{
	position: absolute;
    width: 66px;
    height: 20px;
    top: 139px;
    left: 80px;
    background: white;
}

#stemleftZ4{
	position: absolute;
    width: 64px;
    height: 3px;
    top: 156px;
    left: 24px;
    background: white;
}

#serifZ{
	position: absolute;
    left: 24px;
    top: 138px;
    width: 3px;
    height: 21px;
    background-color: var(--color);
}

.grid2 {
display: grid;
grid-template-columns: repeat(5,1fr);
grid-template-rows: repeat(2,1fr);
grid-gap: 30px;
position:relative;
padding: 50px;
padding-top: 0px;
padding-right: 300px;
justify-content: center;

}

.number {
	position: relative;
	height: 170px;

}

/*1*/
#stemright1{
	position: absolute;
	left: 90px;
	top: 7px;
	width: 30px;
	height: 150px;
	background-color: var(--color);
}

#stemleft1{
	position: absolute;
  left: 71px;
  top: -1px;
  width: 3px;
  height: 60px;
  background-color: var(--color);
  transform: rotate(45deg);
}

/*2*/
#Tummy2{
	position: absolute;
    left: 41px;
    top: 6px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: var(--color);
}

#smallCircle2{
	position: absolute;
	width: 60px;
	height: 60px;
	top: 27px;
	left: 60px;
	background-color: white;
	border-radius: 30px;
}


#quartercircle2{
	position: absolute;
	top: 82px;
	left: 92px;
	width: 50px;
	height: 50px;
	background: white;
	border-radius: 0 0 90px 0;
}

#quartercircle22{
	position: absolute;
top: 11px;
left: 45px;
width: 44px;
height: 50px;
background: white;
border-radius: 90px 0 0 0;
}

#quartercircle23{
	position: absolute;
top: 58px;
left: 40px;
width: 52px;
height: 50px;
background: white;
border-radius: 0 0 0 90px;
}

#stemright2{
position: absolute;
top: 81px;
left: 55px;
width: 110px;
height: 93px;
background: white;
clip-path: polygon(48% 0, 73% 0, 0% 75%, 2% 48%);
}

#stemleft2{
	z-index: 1;
  position: absolute;
  top: 95px;
  left: 65px;
  width: 3px;
  height: 47px;
  background: white;
  transform: rotate(49deg);
}

#stemleft22{
	z-index: 1;
    position: absolute;
    top: 132px;
    left: 48px;
    width: 3px;
    height: 20px;
    background: white;
}

#stemleft23{
	z-index: 1;
position: absolute;
top: 150px;
left: 48px;
width: 95px;
height: 3px;
background: white;
}

#stemrighttwo3{
	z-index: 1;
	position: absolute;
	top: 133px;
	left: 83px;
	width: 60px;
	height: 20px;
	background: white;
}

#counter2{
	position: absolute;
  top: 81px;
  left: 40px;
  width: 44px;
  height: 70px;
  background: white;
}

/*5*/
#stemleft51{
	position: absolute;
	left: 41px;
	top: 10px;
	width: 3px;
	height: 68px;
	background-color: var(--color);
}

#stemleft52{
		z-index: 1;
    position: absolute;
    left: 41px;
    top: 75px;
    width: 72px;
    height: 3px;
    background-color: var(--color);
}

#stemleft53{
	z-index: 1;
	position: absolute;
	left: 41px;
	top: 10px;
	width: 72px;
	height: 3px;
	background-color: var(--color);
}

#stemleft54{
	z-index: 1;
	position: absolute;
	left: 90px;
	top: 10px;
	width: 43px;
	height: 22px;
	background-color: var(--color);
}

#Tummy5{
	position: absolute;
    left: 41px;
    top: 59px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: var(--color);
}

#smallCircle5{
	position: absolute;
	width: 60px;
	height: 60px;
	top: 78px;
	left: 60px;
	background-color: white;
	border-radius: 30px;
}


#quartercircle5{
	position: absolute;
	top: 58px;
	left: 41px;
	width: 50px;
	height: 50px;
	background: white;
	border-radius: 90px 0 0 0;
}

#quartercircle52{
	position: absolute;
    top: 107px;
    left: 44px;
    width: 50px;
    height: 48px;
    background: white;
    border-radius: 0 0 0 90px;
}

/*3*/
#circle31{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 5px;
	left: 36px;
	background: white;
	border-radius: 100px;
}

#circle32{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 68px;
	left: 36px;
	background: white;
	border-radius: 100px;
}

#smallcircle31{
	position: absolute;
	width: 50px;
	height: 50px;
	top: 29px;
	left: 61px;
	background: white;
	border-radius: 100px;
}

#smallcircle32{
	position: absolute;
	width: 50px;
	height: 50px;
	top: 96px;
	left: 61px;
	background: white;
	border-radius: 100px;
}

#halfcircle31{
	position: absolute;
    left: 40px;
    top: 76px;
    height: 86px;
    width: 45px;
    border-radius: 90px 0 0 90px;
    background-color: white;
}

#halfcircle32{
	position: absolute;
    left: 40px;
    top: 8px;
    height: 86px;
    width: 45px;
    border-radius: 90px 0 0 90px;
    background-color: white;
}

#counter3{
	position: absolute;
	left: 27px;
	top: 41px;
	height: 92px;
	width: 45px;
	background-color: white;
}

/*4*/
#stemright4{
	position: absolute;
	left: 92px;
	top: 7px;
	width: 30px;
	height: 150px;
	background-color: var(--color);
}

#stemleft4{
	position: absolute;
left: 56px;
top: -5px;
width: 3px;
height: 130px;
background-color: var(--color);
transform: rotate(36deg)
}

#stemleft42{
	position: absolute;
	left: 18px;
	top: 130px;
	width: 128px;
	height: 3px;
	background-color: var(--color);
}

#stemleft43{
	position: absolute;
  left: 18px;
  top: 112px;
  width: 3px;
  height: 21px;
  background-color: var(--color);
}


}

#stemright42{
	position: absolute;
    left: 121px;
    top: 115px;
    width: 25px;
    height: 20px;
    background-color: var(--color);
}

/*6*/
.number6{
	transform: rotate(180deg);
}

#circle6{
	position: absolute;
	width: 110px;
	height: 110px;
	top: 5px;
	left: 31px;
	background: white;
	border-radius: 100px;
}

#smallcircle6{
		position: absolute;
    width: 60px;
    height: 60px;
    top: 29px;
    left: 55px;
    background: white;
    border-radius: 100px;
}

#halfcircle6{
	position: absolute;
left: 84px;
top: 10px;
height: 100px;
width: 52px;
border-radius: 0 90px 90px 0;
background-color: white;
}

#triangle6{
	position: absolute;
	left: 40px;
	top: 94px;
	width: 44px;
	height: 65px;
	clip-path: polygon(0 0, 0% 100%, 77% 0);
	transform: rotate(180deg);
	background-color: #ffffff;
}

#stemleft6{
	position: absolute;
    left: 103px;
    top: 86px;
    width: 5px;
    height: 78px;
    background-color: white;
    transform: rotate(34deg);
}

#countertriangle6{
	position: absolute;
	left: 84px;
	top: 90px;
	width: 54px;
	height: 65px;
	clip-path: polygon(0 0, 0% 100%, 77% 0);
	background-color: white;
}

/*7*/
#stemleft71{
	position: absolute;
left: 33px;
top: 16px;
width: 78px;
height: 3px;
background-color: white;
}

#stemleft72{
	position: absolute;
left: 41px;
top: 125px;
width: 49px;
height: 3px;
background-color: white;
transform: rotate(126deg);
}

#stemright71{
	position: absolute;
	left: 20px;
	top: 16px;
	width: 150px;
	height: 146px;
	clip-path: polygon(77% 0, 100% 0%, 38% 100%, 38% 64%);
	background-color: white;
}

#stemright72{
	position: absolute;
    left: 85px;
    top: 16px;
    width: 67px;
    height: 30px;
		background-color: white;
}

#counter7{
	position: absolute;
    left: 151px;
    top: 16px;
    width: 22px;
    height: 30px;
    background-color: white;
}

/*8*/
#circle81{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 5px;
	left: 36px;
	background: white;
	border-radius: 100px;
}

#circle82{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 68px;
	left: 36px;
	background: white;
	border-radius: 100px;
}

#smallcircle81{
	position: absolute;
	width: 50px;
	height: 50px;
	top: 29px;
	left: 61px;
	background: white;
	border-radius: 100px;
}

#smallcircle82{
	position: absolute;
	width: 50px;
	height: 50px;
	top: 96px;
	left: 61px;
	background: white;
	border-radius: 100px;
}

#halfcircle81{
	position: absolute;
    left: 40px;
    top: 76px;
    height: 86px;
    width: 45px;
    border-radius: 90px 0 0 90px;
    background-color: white;
}

#halfcircle82{
	position: absolute;
    left: 40px;
    top: 8px;
    height: 86px;
    width: 45px;
    border-radius: 90px 0 0 90px;
    background-color: white;
}

/*9*/
#circle9{
	position: absolute;
width: 110px;
height: 110px;
top: 5px;
left: 31px;
background: white;
border-radius: 100px;
}

#smallcircle9{
	position: absolute;
    width: 60px;
    height: 60px;
    top: 29px;
    left: 55px;
    background: white;
    border-radius: 100px;
}

#halfcircle9{
	position: absolute;
    left: 34px;
    top: 10px;
    height: 100px;
    width: 52px;
    border-radius: 90px 0 0 90px;
    background-color: white;
}

#triangle9{
	position: absolute;
	left: 86px;
	top: 94px;
	width: 44px;
	height: 65px;
	clip-path: polygon(0 0, 0% 100%, 99% 0);
	background-color: white;
}

#stemleft9{
	position: absolute;
    left: 81px;
    top: 86px;
    width: 3px;
    height: 75px;
    background-color: white;
    transform: rotate(27deg);
}


/*0*/
#Circle0{
	position: absolute;
    width: 120px;
    height: 160px;
    top: 3px;
    left: 28px;
    background: white;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 120px;
}

#counter0{
		position: absolute;
    width: 81px;
    height: 115px;
    top: 27px;
    left: 38px;
    background: white;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 100px;
}

#Semicircle0{
	position: absolute;
	top: 6px;
	left: 34px;
	height: 153px;
	width: 59px;
	border-radius: 90px 0 0 90px;
	background: white;
}

.grid3 {
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-template-rows: repeat(1,1fr);
	grid-gap: 30px;
	position:relative;
	padding-top: 0px;
	padding: 50px;
	padding-right: 300px;
	justify-content: center;

}

.mark {
		position: relative;
		/* border: 1px solid blue; */
		height: 170px;
}

/*stopmark*/
.stopmark{
	float: left;
	padding-right: var(--baseKern);
	display: block;
}

#Circlestop{
		position: absolute;
		width: 60px;
		height: 60px;
		top: 90px;
		left: 100px;
		background: white;
		-moz-border-radius: 50px;
	  -webkit-border-radius: 50px;
		border-radius: 100px;
}

#Semicirclestop{
	position: absolute;
top: 93px;
left: 103px;
height: 54px;
width: 28px;
border-radius: 90px 0 0 90px;
background: white;
}

/*exclimation mark*/
.ex{
	float: left;
	padding-right: var(--baseKern);
	display: block;
}

#Circlesex{
		position: absolute;
		width: 60px;
		height: 60px;
		top: 90px;
		left: 60px;
		background: white;
		-moz-border-radius: 50px;
	  -webkit-border-radius: 50px;
		border-radius: 100px;
}

#Semicircleex{
	position: absolute;
top: 93px;
left: 63px;
height: 54px;
width: 28px;
border-radius: 90px 0 0 90px;
background: white;
}

#stemleftex{
	position: absolute;
	top: 15px;
	left: 70px;
	height: 62px;
	width: 3px;
	background: white;
}

#stemrightex{
	position: absolute;
	    top: 15px;
	    left: 90px;
	    height: 62px;
	    width: 22px;
	    background: white;
}


/*quote mark*/
.quote{
	float: left;
	padding-right: var(--baseKern);
	display: block;
}

#stemquote1{
	position: absolute;
    top: 15px;
    left: 107px;
    height: 61px;
    width: 65px;
    clip-path: polygon(25% 0%, 73% 0, 45% 100%, 0% 100%);
    background: white;
}

#stemquote2{
	position: absolute;
	top: 15px;
	left: 102px;
	height: 62px;
	width: 3px;
	transform: rotate(15deg);
	background: white;
}

/*question*/
#Tummyq{
	position: absolute;
    left: 41px;
    top: 6px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: var(--color);
}

#smallCircleq{
	position: absolute;
	width: 60px;
	height: 60px;
	top: 27px;
	left: 60px;
	background-color: white;
	border-radius: 30px;
}

#quartercircleq{
	position: absolute;
    top: 58px;
    left: 41px;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 0 0 0 90px;
}

#quartercircleq2{
	position: absolute;
	top: 11px;
	left: 45px;
	width: 44px;
	height: 50px;
	background: white;
	border-radius: 90px 0 0 0;
}

#stemrightq{
	position: absolute;
top: 87px;
left: 87px;
width: 6px;
height: 36px;
background: white;
}

#Circleq{
	position: absolute;
	width: 30px;
	height: 30px;
	top: 133px;
	left: 70px;
	background: white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 100px;
}

#Semicircleq{
	position: absolute;
	    top: 135px;
	    left: 72px;
	    height: 25px;
	    width: 15px;
	    border-radius: 90px 0 0 90px;
	    background: white;
}


/*, mark*/
.coma{
	float: left;
	padding-right: var(--baseKern);
	display: block;
}

#stemcoma{
	position: absolute;
	top: 91px;
	left: 61px;
	height: 61px;
	width: 65px;
	clip-path: polygon(25% 0%, 73% 0, 45% 100%, 0% 100%);
	background: white;
}

#trianglecoma{
	position: absolute;
  left: 64px;
  top: 112px;
  width: 54px;
  height: 41px;
  clip-path: polygon(22% 0, 0% 100%, 40% 100%);
  background-color: white;
}
